# fastapi config
DEBUG=True
VERSION=0.1.0
ALLOWED_HOSTS=*

# DB
POSTGRES_USER=userdb
POSTGRES_PASSWORD=passworddb
POSTGRES_DB=postgresdb
POSTGRESQL_HOST=db
POSTGRESQL_PORT=5432

# logging config
LOG_LEVEL=DEBUG
LOG_FILE=logs/app.log
LOG_MAX_SIZE=10485760
LOG_BACKUP_COUNT=5

# Blockchain
POLYGON_RPC_URL=
POLYGON_CHAIN_ID=137

# Polymarket APIs (sin auth)
POLYMARKET_GAMMA_API=https://gamma-api.polymarket.com/
POLYMARKET_DATA_API=https://data-api.polymarket.com/
POLYMARKET_CLOB_API=https://clob.polymarket.com/
POLYMARKET_CLOB_WS=wss://ws-subscriptions-clob.polymarket.com/

ALCHEMY_API_KEY=
